
 <section>
    <header>
   <div class="logo">
    <img src="../multimedia/images/playstore img.png"  width="65" alt="image">
   </div>
    <h1>Google Play</h1> 
    <nav>
    <ul>
    <li><a href="https://play.google.com/store/games?hl=en">Games</a></li>
    <li><a href="https://play.google.com/store/apps?hl=en">Apps</a></li>
    <li><a href="https://play.google.com/store/apps/category/FAMILY?hl=en">Kids</a></li>
    </ul>
    </nav>
     <div class="icon">
    <span class="material-symbols-outlined">
    search
    </span>
    <span class="material-symbols-outlined">
    help
    </span>
    </div>
    </div>
    </div>
   
    </header>
</div>
</section> */
/* section one
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
border: thin solid black;
}
.header h1{
 padding-top: 17px;

}
.tuy{
 display: flex;


}
.wink{display: flex;

}
.header a{
margin: 20px;
text-decoration: none;
font-family: "Google Sans", Roboto, Arial, sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 20px;
color: rgb(0, 0, 0);
}
.icon{
margin: 15px;
padding-inline:400px ;
/* margin-top:-70px; */
/* padding-block: 22px; */ */
text-align: end;
font-family: "Google Material Icons";
font-size: 24px;
font-weight: 400;
line-height: 24px;
color: rgb(95, 99, 104);
}

















